:root {
  --primary-color: #c81d25;
  --primary-bg-color: #e5e5e5;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
}

.text-center {
  text-align: center;
}
/* <------------------------Form Section starts------------------------> */

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border: 1px solid #ddd;
  border-radius: 1.1rem;
  background-color: #f1faee;
}

.button {
  background-color: #e63946;
  color: #f1faee;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  transition: background-color 250ms;
  border-radius: 20px;
  font-size: 1.4rem;
}

.form {
  max-width: 600px;
  margin: 3rem auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* <------------------------Form Section end------------------------> */

/* <------------------------Loading Section starts------------------------> */

.flash {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 600px;
  border-radius: 3px;
}

.error {
  background-color: rgba(220, 53, 69, 0.1);
  border: 1px solid rgb(220, 53, 69);
}

.info {
  border: 1px solid rgb(0, 123, 255);
  border-radius: 10rem;
  background-color: rgba(0, 123, 255, 0.1);
}

/* <------------------------Loading Section ends------------------------> */

/* <------------------------Card Section starts------------------------> */

.container {
  margin: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 0.2px solid #d99b84;
  border-radius: 0.5rem;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  box-shadow: 0 2.8px 2.2px rgba(179, 23, 23, 0.034),
    0 6.7px 5.3px rgba(177, 20, 20, 0.048),
    0 12.5px 10px rgba(128, 11, 11, 0.06),
    0 22.3px 17.9px rgba(145, 18, 18, 0.072),
    0 41.8px 33.4px rgba(133, 16, 16, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--primary-color);
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/* Responsive using Media Queries */
@media (max-width: 786px) and (min-width: 320px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
  .input {
    font-size: 1rem;
    padding: 0.1rem 1.6rem;
    line-height: 2.8rem;
    border: 1px solid #ddd;
    border-radius: 1.1rem;
    background-color: #f1faee;
  }

  .button {
    background-color: #e63946;
    color: #f1faee;
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    transition: background-color 250ms;
    border-radius: 20px;
    font-size: 1.2rem;
  }

  img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }
}
